/* ANCHOR: Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANCHOR: Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");

* {
  font-family: Montserrat, Poppins !important;
}

.loading-large > .loading-container > .loading > i {
  width: 12px !important;
  height: 12px !important;
  margin: 0 3px !important;
}

.no-border > .input-wrapper {
  border: 0 !important;
}

.minimal {
  color: #1e67ba !important;
}

input::placeholder {
  color: #1e67ba !important;
  opacity: 0.8 !important;
}
